:root {
    --primary-color: #4daf54;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}

.card__heart,
.card_card {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 1;
}

i {
    cursor: pointer;
}

.card_card {
    left: unset;
    right: 20px;
}

.card__img {
    width: 90%;
    transition: 0.5s;
    margin-top: 16px;
}

.card__img img {
    width: 100%;
    height: 100d;
    object-fit: cover;
}

.card__title,
.card__price {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    transition: 0.5s;
}

.card__title {
    color: var(--primary-color);
}

.card__size,
.card__color {
    display: flex;
    align-items: center;
    margin: 18px 0;
}

.card__size h3 {
    margin-right: 12px;
}

.card__size span {
    background-color: #dadada;
    padding: 2px 10px;
    color: black;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.card__color span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.card_color-green {
    background-color: green;
}

.card_color-red {
    background-color: red;
}

.card_color-black {
    background-color: black;
}

.card__action button {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.card__action button:hover {
    transform: scale(0.9);
    transition: 0.25s;
}

.card:hover .card__img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card__title {
    transform: translate(-40px, -70px)
}

.card:hover .card__price {
    transform: translate(-120px, -70px)
}

.card__size {
    margin-top: 150px;
}

.card__size,
.card__color,
.card__action {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.card:hover .card__size {
    margin-top: 0px;
    visibility: visible;
    opacity: 100%;
    margin-top: -30px;
}

.card:hover .card__color {
    visibility: visible;
    opacity: 100%;
}

.card:hover .card__action {
    visibility: visible;
    opacity: 100%;
}